CLOUDINARY_CLOUD_NAME="<tu_cloud_name>"
CLOUDINARY_API_KEY="<tu_api_key>"
CLOUDINARY_API_SECRET="<tu_api_secret>"

RESEND_API_KEY="<tu_resend_api_key>"
CONTACT_TO_EMAIL="<tu_email_de_destino>"
CONTACT_FROM_EMAIL="<tu_nombre> <noreply@<tu_dominio>>"

MONGODB_URI="<mongodb_uri_con_usuario_y_contraseña>"

AUTH_GITHUB_ID="<tu_github_client_id>"
AUTH_GITHUB_SECRET="<tu_github_client_secret>"

AUTH_SECRET="<tu_auth_secret>"
ADMIN_EMAIL="<tu_email_de_admin>"
