CLOUDINARY_CLOUD_NAME="<tu_cloud_name>"
CLOUDINARY_API_KEY="<tu_api_key>"
CLOUDINARY_API_SECRET="<tu_api_secret>"

RESEND_API_KEY="<tu_resend_api_key>"
CONTACT_TO_EMAIL="<tu_email_de_destino>"
CONTACT_FROM_EMAIL="<tu_nombre> <noreply@<tu_dominio>>"
