/* -------------------------------------------------------------------------- */
/*                                  tailwind                                  */
/* -------------------------------------------------------------------------- */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------------------------------------------------------------- */
/*                                   global                                   */
/* -------------------------------------------------------------------------- */
body {
  @apply font-montserrat;
}

/* -------------------------------------------------------------------------- */
/*                                   navbar                                   */
/* -------------------------------------------------------------------------- */

.navbar_button {
  @apply w-[40px] h-[40px] rounded-lg flex flex-row justify-center items-center bg-opacity-75;
}

.navbar_menu_li {
  @apply px-2 py-1 border border-transparent overflow-hidden rounded-xl cursor-pointer;
}

/* -------------------------------------------------------------------------- */
/*                                   loading                                  */
/* -------------------------------------------------------------------------- */

.lds-dual-ring {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.lds-dual-ring:after {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #ccc;
  border-color: #ccc transparent #ccc transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* -------------------------------------------------------------------------- */
/*                                    title                                   */
/* -------------------------------------------------------------------------- */

.title {
  @apply text-center text-transparent bg-clip-text text-[2rem] md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl font-extrabold my-10;
}

.paragraph {
  @apply text-sm md:text-base xl:text-lg 2xl:text-xl font-light;
}

/* -------------------------------------------------------------------------- */
/*                               react-toastify                               */
/* -------------------------------------------------------------------------- */
.Toastify__toast-container {
  @apply absolute -top-10 !important;
}
